<h1>CASH</h1>

<form action="/MakeItRain" method="post">
  <label for="cash">Enter cash</label>
  <input type="number" name="cash" id="cash" value="">
  <button type="submit" name="button">Submit cash</button>
</form>
